{% extends "wbvs/layout.html" %}
{% load static %}

{% block title %}
    Web Based Voting System
{% endblock %}
 

{% block content %}
  {% if success_logout %}
    <div class="alert alert-success alert-dismissible" role="alert">
      <a type="button" class="close" data-dismiss="alert" aria-label="close"><span aria-hidden="true">&times;</span></a>
      <strong>Bye!!!</strong> You Have logged out successfully.
    </div>
  {% endif %}

  <main class = "content">
      <img src="/media/images/landing_pg/index_images/6.jpg" width="100%" height="95%">
  </main>
  {% endblock %}
 

  {% block footer %}
  <div class="footer">
      <p class="copyright"> Hey, Get In Touch With Us!! </p>
      <div class="flip-card">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <img src="/media/images/landing_pg/creators/abhinay_boii.jpeg" alt="Abhinay" style="width:100%; margin-bottom: 8px;">
              <h4 id="name">Abhinay Choupal</h4>
            </div>
            <a href="https://github.com/Abhi26ra" target="_blank">
              <div class="flip-card-back">
                <h4 id="name">Abhinay Choupal</h4> 
                <p id="name1">( Front End )</p> 
                <h5 id="name1">ac1484@srmist.edu.in</h5>
                <h6>GitHub - Abhi26ra</h6>
              </div>
            </a>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <img src="/media/images/landing_pg/creators/sriharsha_boii.jpeg" alt="Harsha" style="width:100%; margin-bottom: 8px;">
              <h4 id="name">Chigilipalli Sriharsha</h4> 
            </div>
            <a href="https://github.com/chs1268-dotcom" target="_blank">
              <div class="flip-card-back">
                <h4 id="name">Chigilipalli Sriharsha</h4> 
                <p id="name1">( UI & UX )</p> 
                <h5 id="name1">cs5217@srmist.edu.in</h5>
                <h6>GitHub - chs1268-dotcom</h6>
              </div>
            </a>
          </div>
        </div>
        <div class="flip-card">
          <div class="flip-card-inner ">
            <div class="flip-card-front">
              <img src="/media/images/landing_pg/creators/abhinav_boii.jpeg" alt="Abhinav" style="width:100%; margin-bottom: 8px;">
              <h4 id="name">Abhinav Sharma</h4> 
            </div>
            <a href="https://github.com/as567652" target="_blank">
              <div class="flip-card-back">
                <h4 id="name">Abhinav Sharma</h4> 
                <p id="name1">( Back End )</p> 
                <h5 id="name1">as567652@gmail.com</h5>
                <h6>GitHub - as567652</h6>
              </div>
            </a>
          </div>
        </div>
      <p class="copyright"> &copy; Content on this site may be subject to copyright.<br> This is an independent project. </p>
  </div>
{% endblock %}
