{% extends "wbvs/layout.html" %}

{% block title %}
    View Details
{% endblock %}
 

{% block content %}
    <div class="bkgrnd" style="background-image: url(/media/images/landing_pg/index_images/1.jpg);">   
        <div style="background: white; box-shadow: 8px 8px 5px 10px #1b437d; width: 350px; margin: auto; text-align: center; display: block; padding: 20px; margin-top: 20px; border-radius: 50px;">
            <img src="{{user.image.url}}" style="border-style: solid;border-color: #1b437d; border-width: 3px; border-radius: 100%; max-width:75%; max-height:75%;">
            <h2 style="margin-bottom: 0px;">{{user.first_name}} {{user.last_name}}</h2>
            <p><i>{{user.username}}</i><br>
                <strong>Email</strong> - {{user.email}}<br>
                <strong>Date Joined</strong> - {{user.date_joined.date}}<br>
                <strong>Last Login</strong> - {{user.last_login.date}}</p>
                <top_content style="background-color: #1b437d; margin: 5px; padding: 10px; border-radius: 10px;" ><a href="{% url 'edit_password' %}" style="color: white;">Change Password</a></top_content>
        </div>
    </div>
{% endblock %}